@import "tailwindcss";

@tailwind utilities;

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
  --radius: 0.5rem;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: var(--color-black-200);*/
/*    --foreground: var(--color-white-100);*/
/*    --radius: 0.5rem;*/
/*  }*/
/*}*/

@theme {
  /* Định nghĩa biến màu */
  --color-primary-600: #4741A6;
  --color-primary-300: #9BBBFC;
  --color-primary-100: #D9EFF7;

  --color-secondary: #F9CE69;

  --color-buttercup: oklch(79.441% 0.16269 79.93);
  --color-buttercup-50: oklch(93.524% 0.06182 87.827);
  --color-buttercup-900: oklch(20.055% 0.03678 88.327);

  --color-apple: oklch(71.877% 0.18623 140.11);
  --color-apple-50: oklch(92.062% 0.05247 139.99);
  --color-apple-900: oklch(19.935% 0.03796 140.08);

  --color-alizarin-crimson: oklch(60.794% 0.22997 27.584);
  --color-alizarin-crimson-50: oklch(89.438% 0.04857 18.098);
  --color-alizarin-crimson-900: oklch(19.98% 0.07064 26.453);

  --color-mariner: oklch(52.084% 0.19328 262.2);
  --color-mariner-50: oklch(85.581% 0.05397 264.23);
  --color-mariner-900: oklch(14.474% 0.0289 259.13);

  --color-black-100: #919EAB;
  --color-black-200: #2C2C2C;
  --color-black-300: #1E1E1E;
  --color-black: #000000;

  --color-white-100: #F2F4F7;
  --color-white: #FFFFFF;

  --font-work-sans: 'workSans', sans-serif;

  /* Tạo breakpoint */
  --breakpoint-xs: 475px;

  /* Border radius */
  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;

  /* Shadows */
  --shadow-100: 2px 2px 0px 0px rgb(0,0,0);
  --shadow-200: 2px 2px 0px 2px rgb(0,0,0);
  --shadow-300: 2px 2px 0px 2px #4741A6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
@layer utilities {

}
@layer components {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white;
  }

  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black-300 before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black-300 after:border-l-[10px] after:border-l-transparent;
  }

  .tag, .tag-tri {
    @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative;
  }

  .primary-background{
    @apply w-full bg-primary-600  min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
    background-image: linear-gradient(
            to right,
            transparent 49%,
            rgba(255, 255, 255, 0.2) 49%,
            rgba(255, 255, 255, 0.6) 51%,
            transparent 51%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;

  }

  .heading {
    @apply uppercase bg-black-300 px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-mono text-[20px] text-white max-w-2xl text-center my-2 break-words;
  }
  /* searchform */
  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black-300 rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black-300 flex justify-center items-center;
  }

  .section-container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  /*Startup Cards Grid*/
  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-black-100 text-sm font-normal;
  }

  /*Startup Cards*/
  .startup-card {
    @apply bg-white border-[5px] border-black-300 py-6 px-5 rounded-[22px] shadow-200 hover:border-primary-300 transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
  }
  .startup-card_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
  }

  .startup-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
  }

  .startup-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .startup-card_btn {
    @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3;
  }

  .startup-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  .category-tag {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }
/* view count*/
  .view_skeleton {
    @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
  }

  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
  }

  .view-text {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize;
  }
  /* startupform */
  .startup-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
  }

  .startup-form_label {
    @apply font-bold text-[18px] text-black-300 uppercase;
  }

  .startup-form-input {
    @apply border-[3px] border-black-300 px-5 py-7 text-[18px] text-black-300 font-semibold rounded-full mt-3 placeholder:text-black-100;
  }

  .startup-form-textarea {
    @apply border-[3px] border-black-300 p-5 text-[18px] text-black-300 font-semibold rounded-[20px] mt-3 placeholder:text-black-100;
  }

  .startup-form_error {
    @apply text-alizarin-crimson mt-2 ml-5;
  }

  .startup-form_editor {
    @apply mt-3 border-[3px] border-black-300 text-[18px] text-black-300 font-semibold placeholder:text-black-100 ;
  }

  .startup-form_btn {
    @apply bg-primary-600 border-[4px] border-black-300 rounded-full p-5 min-h-[70px] w-full font-bold text-white text-[18px];
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-work-sans), Arial, Helvetica, sans-serif;
}
